    html,
    body {
        overflow-x: hidden;
    }

    body {
        margin: 0;
        background-color: azure;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        border-radius: 1rem;
        display: inline-block;
    }

    .logo {
        text-align: center;
        margin-bottom: 0.5rem;
        padding-top: 1rem;
        background-color: white;
        box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.288);
    }

    .logo img {
        width: 8rem;
        height: auto;
    }

    .logo h1 {
        margin-bottom: -0.625rem;
        margin-top: 0;
        padding-top: 1rem;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .Hnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: goldenrod;
        padding: 0.5rem 5%;
        border-radius: 1rem;
        width: 99%;
        margin: 0 auto;
        margin-bottom: 0.5rem;
        box-sizing: border-box;
        box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.288);
    }

    .navLeft,
    .navRight {
        display: flex;
        gap: 4rem;
        align-items: center;
    }

    .navActive {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        margin: -0.625rem;
        border-radius: 1rem;
    }

    .navLeft a,
    .navRight a {
        transition: 0.2s ease;
    }

    .navLeft a:hover,
    .navRight a:hover {
        background-color: rgba(255, 255, 255, 0.25);
        color: teal;
        padding: 0.5rem;
        margin: -0.5rem;
        border-radius: 1rem;
        transform: scale(1.05);
    }

    main {
        padding-top: 7.5rem;
    }

    .sec1,
    .sec2 {
        background: white;
        padding: 1.25rem;
        margin: 1.25rem;
        box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.288);
        border-radius: 0.3125rem;
        color: teal;
        transition: 0.2s ease;
    }

    .sec1:hover,
    .sec2:hover {
        color: goldenrod;
        background: rgb(220, 220, 220);
        padding: 1.25rem;
        margin: 1.25rem;
        box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.288);
        border-radius: 0.3125rem;
        transform: scale(1.02);
    }

    footer {
        border-style: solid;
        border-width: 0.0625rem;
        margin: 0;
        padding: 0.625rem;
        display: flex;
        gap: 2.5rem;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }

    .Fnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .Fnav a {
        padding: 0.5rem;
        color: black;
        border-radius: 0.5rem;
        transition: 0.3s ease;
    }

    .Fnav a:hover {
        padding: 0.5rem;
        color: rgb(255, 255, 255);
        background-color: rgb(133, 133, 133);
        transform: scale(1.05);
    }

    footer img {
        width: 6.25rem;
        border: solid;
        margin: 0.625rem;
    }

    .content-row img {
        width: 11.25rem;
        height: 11.25rem;
        object-fit: cover;
        border-radius: 0.3125rem;
    }

    .content-row {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        flex-direction: row;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .content-row p {
        flex: 1;
    }

    .button-section {
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .big-btn,
    .small-btn {
        padding: 1.125rem 3.125rem;
        font-size: 1.125rem;
        border-radius: 2.5rem;
        background-color: rgb(255, 227, 67);
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        color: teal;
        font-weight: 900;
        letter-spacing: 0.0625rem;
        box-shadow: 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.288);
        transition: 0.2s ease;
    }

    .big-btn {
        width: fit-content;
        margin: 0 auto;
    }

    .small-btn-row {
        display: flex;
        justify-content: center;
        gap: 3.125rem;
    }

    .big-btn:hover,
    .small-btn:hover {
        background-color: goldenrod;
        color: white;
        transform: scale(1.05);
    }

    @media (max-width: 900px) {
        .Hnav {
            flex-direction: row;
            gap: 1rem;
        }

        .navLeft,
        .navRight {
            gap: 1.5rem;
            flex-wrap: wrap;
            justify-content: center;
        }


        header {
            position: fixed;
        }

        .big-btn,
        .small-btn {
            font-size: 0.8rem;
        }

        footer {
            border-style: solid;
            border-width: 0.0625rem;
            margin: 0;
            padding: 0.625rem;
            display: flex;
            gap: 2.5rem;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);
        }

        .Fnav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-left: auto;
            margin-right: auto;
        }

        footer img {
            width: 4.25rem;
            border: solid;
            margin: 0.625rem;
        }
    }