html,
body {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: azure;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    display: inline-block;
}

.logo {
    text-align: center;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    background-color: white;
    box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.288);
}

.logo img {
    width: 8rem;
    height: auto;
}

.logo h1 {
    margin-bottom: -0.625rem;
    margin-top: 0;
    padding-top: 1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.Hnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: goldenrod;
    padding: 0.5rem 5%;
    border-radius: 1rem;
    width: 99%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.288);
}

.navLeft,
.navRight {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.navActive {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    margin: -0.625rem;
    border-radius: 1rem;
}

.navLeft a,
.navRight a {
    transition: 0.2s ease;
}

.navLeft a:hover,
.navRight a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: teal;
    padding: 0.5rem;
    margin: -0.5rem;
    border-radius: 1rem;
    transform: scale(1.05);
}

main {
    margin: 2rem;
    padding-top: 7.5rem;
}

p {
    text-align: justify;
}

.content1 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.mainimg {
    width: 50rem;
    height: auto;
    border-radius: 1rem;
}

.mainimg2 {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
}

.mainimg3 {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
}

.descript {
    background-color: rgb(255, 227, 67);
    box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.329);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 50rem;
    color: teal;
}

.head {
    font-size: 1.3rem;
    font-weight: bold;
}

.content2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    align-items: center;
    gap: 2rem;
}

.content2 img {
    max-height: 15rem;
    border-radius: 1rem;
}

.content3 {
    margin-top: 2rem;
    display: flex;
    transition: background-color 0.5s;
    gap: 5rem;
    font-size: 1.125rem;
    justify-content: center;
}

.content3 a {
    color: teal;
    background-color: rgb(255, 227, 67);
    padding: 1rem 5rem;
    transition: color 0.5s;
    border-radius: 6rem;
    box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.329);
    transition: 0.2s ease;
}

.content3 a:hover {
    padding: 1rem 5rem;
    color: rgb(255, 255, 255);
    background-color: goldenrod;
    transform: scale(1.05);
    box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.329);
}

.content5 {
    margin-top: 2rem;
    display: flex;
    transition: background-color 0.5s;
    gap: 5rem;
    font-size: 1.125rem;
    justify-content: center;
}

.content5 a {
    color: teal;
    background-color: rgb(255, 227, 67);
    padding: 1rem 5rem;
    transition: color 0.5s;
    border-radius: 6rem;
    box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.329);
    transition: 0.2s ease;
}

.content5 a:hover {
    padding: 1rem 5rem;
    color: rgb(255, 255, 255);
    background-color: goldenrod;
    transform: scale(1.05);
    box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.329);
}

.info2 {
    display: flex;
    flex-direction: row;
    gap: 4.5%;
}

.content4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content4 img {
    max-height: 25rem;
    border-radius: 1rem;
}

.title {
    color: teal;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 2.5rem;
}

.descript3 {
    color: teal;
    display: flex;
    flex-direction: column;
    max-width: 42%;
    background-color: rgb(255, 227, 67);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.329);
}

.top1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.top1 img {
    max-height: 10rem;
}

.descript4 {
    color: teal;
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin-left: auto;
    background-color: rgb(255, 227, 67);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.329);
}

.top2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.top2 img {
    max-height: 10rem;
}

footer {
    border-style: solid;
    border-width: 0.0625rem;
    margin: 0;
    padding: 0.625rem;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.Fnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.Fnav a {
    padding: 0.5rem;
    color: black;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

.Fnav a:hover {
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(133, 133, 133);
    transform: scale(1.05);
}

footer img {
    width: 6.25rem;
    border: solid;
    margin: 0.625rem;
}

@media (max-width: 400px) {
    .Hnav {
        flex-direction: row;
        gap: 1rem;
    }

    .navLeft,
    .navRight {
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }


    header {
        position: fixed;
    }

    .mainimg,
    .mainimg2,
    .mainimg3 {
        visibility: hidden;
        width: 0%;
    }

    .descript {
        background-color: rgb(255, 227, 67);
        box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.329);
        border-radius: 1rem;
        padding: 2rem;
        max-width: 20rem;
        color: teal;
    }

    .content2 img {
        width: 0%;
    }

    .info2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .descript3 {
        color: teal;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        background-color: rgb(255, 227, 67);
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.329);
    }

    .top1 img {
        width: 0%;
        ;
    }

    .descript4 {
        color: teal;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-left: auto;
        background-color: rgb(255, 227, 67);
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.329);
    }

    .top2 img {
        width: 0%;
    }

    footer {
        border-style: solid;
        border-width: 0.0625rem;
        margin: 0;
        padding: 0.625rem;
        display: flex;
        gap: 2.5rem;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }

    .Fnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    footer img {
        width: 4.25rem;
        border: solid;
        margin: 0.625rem;
    }

}
